html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.582),
      rgba(12, 8, 24, 0.904)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
  }

  h1, p {
    color: white;
  }
  
  .bigText {
    font-size: 80px;
    font-weight: 700;
    color: white;
    /* margin: 25px 0 25px 25px; */
    padding-bottom: 10px !important;
  }
  
  .medText {
    font-size: 20px;
    font-weight: 500;
    color: white;
    /* margin: 25px 0; */
  }

  .resume-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;  
  }

  .resume-images {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px; /* Add some space between the images */
    margin-top: 50px; /* Add space between the text and images */
  }
  
  .resume-img {
    width: 45%; /* Each image takes up 45% of the container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Rounded corners */
  }

  @media (max-width: 768px) {
    .resume-images {
      flex-direction: column; /* Stack images vertically */
      gap: 20px; /* Add space between the images */
    }
  
    .resume-img {
      width: 90%; /* Each image takes up 100% of the container width */
    }
  }
  