.header {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.nav-link{
    color: white !important;
    border-bottom: none !important;
    font-size: 35px;
    padding-left: 20px;
}
.nav-tabs {
    display: flex;
    justify-content: flex-end; /* Aligns tabs to the right */
    width: 100%;
    padding: 10px 0;
    flex-wrap: wrap;
  }
  
  .nav-item {
    flex: 0 1; /* Prevents nav items from stretching */
    text-align: center;
  }
  
  

  
.nav-link.active {  
    
    background-image: url(../assets/navActive.jpg);
}

.nav-link.active:hover {
    background-color: #A648DA !important;
}

.nav-link:hover {
    background-color: #A648DA !important;
}
/* mobile  */
@media (max-width: 768px) {
    .nav-tabs {
      justify-content: space-around; /* Distributes tabs evenly across small screens */
      flex-wrap: nowrap; /* Ensures tabs stay in a single row */
      overflow-x: auto; /* Allows horizontal scrolling if absolutely necessary */
    }
  
    .nav-item {
      flex: 1; /* Ensures tabs shrink/grow as needed */
      min-width: auto; /* Prevents unnecessary stretching */
    }
  }