.header {
    background-image: var(--image-gradient), url(../assets/bg2.jpg);
    /* height: 100px; */
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    color: white !important;
    border-bottom: none !important;
}
.nav-tabs {
    border-bottom: none !important;
}
.nav-link.active {  
    
    background-color: #541C4C !important;
}

.nav-link.active:hover {
    background-color: #A648DA !important;
}

.nav-link:hover {
    background-color: #A648DA !important;
}