.temp {
  background-color: purple;
}

body {
  background-image: url(./assets/bg2.jpg);
  background-size: cover; /* Ensures it covers the viewport without overflow */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps it in place while scrolling */
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

@media (max-width: 768px) {
  body {
    /* background-size: contain; Adjusts for mobile to fit properly */
    background-position: top;
  }
}


.bg {
  min-height: 100vh; /* Ensures pages are at least full height but not forced */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* Makes sure main content area grows as needed */
}
